<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title><h3>{{itemDetail.name | uppercase}}</h3></mat-card-title>
      </mat-card-title-group>
      <img matCardImage src={{itemDetail.image}} alt={{itemDetail.name}}>
      <mat-card-content><p>{{itemDetail.description}} </p></mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="onAction($event)">LIKE</button>
        <button mat-button (click)="onAction($event)">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="40">
    <mat-list>
      <mat-list-item *ngFor="let message of itemDetail.comments">
        <h3 matLine> {{message.rating}} </h3>
        <p matLine> {{message.comment}} </p>
        <p matLine class="demo-2"> {{message.content}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
